In [1]:
import numpy as np
import pandas as pd 
from scipy.stats import shapiro

In [3]:
data = pd.read_csv('C:/Users/WEI/Desktop/数分面试与项目/ab_test_results.csv')
data.head()

   user_id    group  views  clicks
0        1  control   10.0     0.0
1        2  control    1.0     0.0
2        3  control    1.0     0.0
3        4  control    2.0     0.0
4        5  control    3.0     0.0

In [6]:
data.describe()

             user_id          views         clicks
count  120000.000000  120000.000000  120000.000000
mean    60000.500000       4.991075       0.182692
std     34641.160489       5.915200       0.472547
min         1.000000       1.000000       0.000000
25%     30000.750000       2.000000       0.000000
50%     60000.500000       3.000000       0.000000
75%     90000.250000       6.000000       0.000000
max    120000.000000     205.000000       9.000000

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120000 entries, 0 to 119999
Data columns (total 4 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   user_id  120000 non-null  int64
 1   group    120000 non-null  object
 2   views    120000 non-null  float64
 3   clicks   120000 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 3.7+ MB

In [10]:
hist(data['group'])